@import "../shared/styles/fonts";
@import "../shared/styles/variables";

.first-block,
.second-block,
.third-block,
.fours-block {
  display: block;
  width: 85vw;
  height: 60vh;
  border-radius: 15px;
  background: linear-gradient(grey, lightgray, grey);
  box-shadow: 0px 4px 9px 0px rgb(94, 94, 94);
  padding: 10px;
  overflow: auto;
  margin: 10px auto;
}
.my-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  color: white;
  font-family: Stylish;
  font-size: 16px;
  background: url(../../assets/images/button/button-grey.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  box-shadow: 0px 4px 9px 0px rgb(97, 97, 97);
  text-shadow: 2px 1px 3px rgb(44 44 44);
  border-radius: 10px;
  border: none;
  transition: box-shadow 0.35s;
  margin: 5px;
  letter-spacing: 0.5px;
  &:hover {
    box-shadow: 0px 4px 9px 0px rgb(202, 202, 202);
  }
  &:active {
    position: relative;
    top: 2px;
    left: 0;
  }
}
.my-form-control {
  display: block;
  min-height: 30px;
  min-width: 100px;
  border: 1px solid lightblue;
  border-radius: 10px;
  padding: 2px 8px;
  font-size: 16px;
  margin: 0 5px;
}
.my-input-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.first-block {
  display: flex;
  justify-content: center;
  align-items: center;
  &__text-area {
    display: block;
    width: 97%;
    height: 90%;
    padding: 10px;
    background-color: lightgray;
    border-radius: 15px;
    overflow: auto;
    box-shadow: 0px 2px 9px 0px rgb(102, 102, 102);
  }
}
.second-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border-radius: 15px;
  button {
    width: 120px;
  }
}

.third-block,
.fours-block {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
}
.third-block {
  background: $lightgrey;
  min-height: 60vh;
  height: fit-content;
  padding: 10px;
}

.fours-block {
  justify-content: start;
  width: 70vw;
  border-radius: 15px;
  min-height: 250px;
  height: fit-content;
  &__box1 {
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-items: center;
    width: 30%;
    height: 30px;
    padding-left: 5%;
    margin-right: auto;
  }
  &__box2 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 325px;
    height: fit-content;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2.5% 2.5% 1% 2.5%;
  }
  &__box4 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    padding: 30px 10px 10px 10px;
    &__1,
    &__2,
    &__3 {
      display: block;
      height: 100%;
    }
    &__1,
    &__3 {
      width: 14.3%;
    }
    &__2 {
      min-width: 33.3%;
      width: fit-content;

      &__img {
        cursor: pointer;
        display: block;
        width: 150px;
        height: 150px;
        background-image: url(../../assets/images/editional/desktop.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        transition: all 0.2s;
        &:hover + .fours-block__box4__2__a {
          text-decoration: underline;
          text-shadow: 1px 1px 5px white;
        }
      }
      &__a {
        cursor: pointer;
        text-decoration: none;
        font-size: 16px;
        transition: all 0.2s;
        &:hover {
          font-size: 18px;
          text-decoration: underline;
        }
      }
    }
    .pre-container-gone {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 400px;
      height: 300px;
    }
    .pre-container {
      display: block;
      width: 400px;
      height: 300px;
      overflow: auto;
      background-color: white;
      border: 6px solid grey;
      border-radius: 10px;
      margin: 0 auto;
      box-shadow: 0px 2px 5px 0px rgb(94, 94, 94);
      &__content {
        display: block;
        width: 100%;
        height: 90%;
        overflow: auto;
        padding: 5px 0 0 5px;
      }
    }
    .close-box {
      display: flex;
      justify-content: end;
      padding: 3px;
      width: 100%;
      height: fit-content;
      background-color: orange;
      box-shadow: 0px 1px 3px 0px rgb(94, 94, 94);

      button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 22px;
        height: 22px;
        border: none;
        border-radius: 50%;
        transition: all 0.35s;
        &:hover {
          box-shadow: 0px 2px 5px 0px white;
        }
        &:active {
          background-color: rgba(255, 0, 0, 0.281);
        }
        &::selection {
          background: none;
        }
      }
    }
  }
}
#ol,
#ul {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
}
.btn-modern {
  cursor: pointer;
  width: 80px;
  height: 30px;
  transform: skew(334deg);
  background: #e3e2e2;
  border-bottom: 2px solid #e3e2e2;
  border-radius: 5px 5px 0 0;
  position: relative;
  top: 0;
  left: 0;
}
form {
  width: 100%;
}
.additional-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 0 0 50% 50%;
  width: 55%;
  height: 25px;
  position: relative;
  top: 27px;
  left: 0;
  button {
    cursor: pointer;
    width: 30px;
    height: 20px;
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
  }
}
.mainEditor,
.firstEditor {
  display: block;
  width: 98%;
  min-height: 76%;
  border-radius: 5px;
  resize: none;
  padding: 5px;
  text-align: center;
  font-family: Stylish;
  font-size: 16px;
}
.mainEditor {
  padding-top: 25px;
  height: 50vh;
}
.firstEditor {
  width: 99%;
  min-height: 99%;
  height: 99%;
  margin: 0 auto;
  text-align: justify;
  font-size: 16px;
}
.bg-grey {
  background-color: lightgray;
}

.block1,
.block2,
.block3,
.block-4 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
}
.block3 {
  form {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }
}
.block-4 {
  width: 50%;
  justify-content: space-evenly;
}
#bgColor,
#textColor {
  margin: 0 5px;
}
.beauty-block {
  display: block;
  width: 100%;
  height: auto;
}
.beauty-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 60px;
  border: 1px dashed black;
  border-radius: 5px;
  margin: 0 auto;
}
.beauty-block-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 10px;
  background-color: #e3e2e2;
  position: relative;
  top: 7px;
  left: 35px;
  font-size: 16px;
  text-shadow: 2px 2px 2px snow;
}
.bg-gray {
  cursor: wait;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(46, 46, 46, 0.37);
  overflow: hidden;
  z-index: 10;
  .access-check {
    cursor: default;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 0px 4px 9px 0px rgb(218, 218, 218);
    &__header {
      text-align: center;
    }
    &__input-box {
      height: 50%;

      form {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
      }
    }
  }
}

.wrong-password {
  display: block;
  text-align: center;
  width: 150px;
  height: 30px;
  border: 2px solid rgba(255, 0, 0, 0.808);
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.288);
}
.container-start {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  width: 100%;
}
