<div class="first-block">
    <div class="first-block__text-area" [style.font-size]="mainStyle.textSize"
        [style.font-family]="mainStyle.fontFamily" [style.font-weight]="mainStyle.bold?'bold':''"
        [style.font-style]="mainStyle.italic?'italic':''" [style.text-decoration]="mainStyle.underline?'underline':''"
        [style.color]="mainStyle.color" [style.background-color]="mainStyle.bgColor"></div>
</div>
<div class="second-block">
    <button type="button" class="my-btn"
        (click)="checkEdit = true; checkSave = true;checkStyle = false;checkTLeditor = false">Edit</button>
    <button type="button" class="my-btn"
        (click)=" checkSave = true;checkStyle = true;checkEdit = false;checkTLeditor = false">Stylize</button>
    <button type="button" class="my-btn" (click)="changeBlockStatus()">Block</button>
</div>
<ng-container *ngIf="blocked">
    <div class="bg-gray">
        <div class="access-check">
            <div class="access-check__header">
                <h3>THE PROGRAM IS BLOCKED</h3>
                <h4>please enter a password</h4>
            </div>
            <div class="access-check__input-box">
                <form #access="ngForm">
                    <input type="password" class="my-form-control"
                        [ngClass]="{'green-border':access.valid,'red-border':access.invalid && access.dirty}"
                        name="password" pattern="qwerty123" ngModel required>
                    <div *ngIf="wrongPass" class="wrong-password">
                        <span *ngIf="wrongPass">the password is not correct!</span>
                    </div>
                    <button type="submit" class="my-btn" (click)="checkBlock(access)">Unblock</button>
                </form>
            </div>
        </div>
    </div>
</ng-container>
<div class="third-block" *ngIf="checkSave" [ngClass]="{'bg-grey':checkEdit == true}">
    <ng-container *ngIf="checkEdit">
        <ng-container *ngIf="checkSave">
            <div class="additional-btns">
                <button (click)="addTag('<p></p>')">p</button>
                <button (click)="addTag('<h1></h1>')">h1</button>
                <button (click)="addTag('<h2></h2>')">h2</button>
                <button (click)="addTag('<h3></h3>')">h3</button>
                <button (click)="addTag('<h4></h4>')">h4</button>
                <button (click)="addTag('<h5></h5>')">h5</button>
                <button (click)="addTag('<h6></h6>')">h6</button>
                <button (click)="addTag('<a></a>')">a</button>
            </div>
            <textarea name="mainEditor" rows="3" class="mainEditor" [(ngModel)]="mainContent">
                </textarea>
        </ng-container>
        <div class="container-start">
            <button type="button" class="my-btn" (click)="updateFirstBlock()">Save</button>
            <button type="button" class="my-btn"
                (click)="checkEdit = false;checkStyle = false; addStatus = true ;checkTLeditor = true">Add</button>
        </div>
    </ng-container>
    <ng-container *ngIf="checkStyle">
        <div class="beauty-block">
            <div class="beauty-block-label">Font size</div>
            <div class="beauty-box block1">
                <div class="form-group">
                    <label for="12pt">
                        <input type="radio" name="fontSize" id="12pt" value="12pt" checked
                            [(ngModel)]="mainStyle.textSize">
                        12pt
                    </label>
                    <label for="14pt">
                        <input type="radio" name="fontSize" id="14pt" value="14pt" [(ngModel)]="mainStyle.textSize">
                        14pt
                    </label>
                    <label for="16pt">
                        <input type="radio" name="fontSize" id="16pt" value="16pt" [(ngModel)]="mainStyle.textSize">
                        16pt
                    </label>
                    <label for="18pt">
                        <input type="radio" name="fontSize" id="18pt" value="18pt" [(ngModel)]="mainStyle.textSize">
                        18pt
                    </label>
                    <label for="20pt">
                        <input type="radio" name="fontSize" id="20pt" value="20pt" [(ngModel)]="mainStyle.textSize">
                        20pt
                    </label>
                    <label for="22pt">
                        <input type="radio" name="fontSize" id="22pt" value="22pt" [(ngModel)]="mainStyle.textSize">
                        22pt
                    </label>
                    <label for="24pt">
                        <input type="radio" name="fontSize" id="24pt" value="24pt" [(ngModel)]="mainStyle.textSize">
                        24pt
                    </label>
                </div>
            </div>
        </div>
        <div class="block2">
            <div class="beauty-block">
                <div class="beauty-block-label">Font type</div>
                <div class="beauty-box block1">
                    <select class="my-form-control" name="fontFamily" id="select" [(ngModel)]="mainStyle.fontFamily">
                        <option>Time New Roman</option>
                        <option>Tahoma</option>
                        <option>Verdana</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="block3">
            <div class="beauty-block">
                <div class="beauty-block-label">Color</div>
                <div class="beauty-box block-3">
                    <form #colors="ngForm">
                        <label for="bgColor">Background</label>
                        <input type="color" (input)="mainStyle.bgColor = bgColor" [(ngModel)]="bgColor"
                            [ngModelOptions]="{standalone: true}" id="bgColor">
                        <label for="textColor">Text</label>
                        <input type="color" (input)="mainStyle.color = textColor" [(ngModel)]="textColor"
                            [ngModelOptions]="{standalone: true}" id="textColor">
                    </form>
                </div>
            </div>
        </div>
        <div class="beauty-block">
            <div class="beauty-block-label">Text style</div>
            <div class="beauty-box">
                <div class="block-4">
                    <label for="bold" class="me-2">
                        <input type="checkbox" id="bold" value="bold" [(ngModel)]="mainStyle.bold">
                        Bold
                    </label>
                    <label for="italic">
                        <input type="checkbox" id="italic" value="italic" [(ngModel)]="mainStyle.italic">
                        Italic
                    </label>
                    <label for="italic">
                        <input type="checkbox" id="underline" value="underline" [(ngModel)]="mainStyle.underline">
                        Underlined
                    </label>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="addStatus && checkTLeditor">
        <h2>What shall we add??</h2>
        <div class="fours-block__box1">
            <button class="btn-modern" [style]="addCheck.table?'width: 83px;height: 36px;':''"
                (click)="checkTl(true)">Table</button>
            <button class="btn-modern" [style]="!addCheck.table?'width: 83px;height: 36px;':''"
                (click)="checkTl(false)">List</button>
        </div>
        <ng-container *ngIf="addCheck.table">
            <form #table="ngForm">
                <div class="fours-block__box2">
                    <div class="beauty-block">
                        <div class="beauty-block-label">The width and height of the table cell</div>
                        <div class="beauty-box">
                            <div class="my-input-group">
                                <span>Width</span>
                                <label
                                    [ngClass]="{'tag':table.value.width > 99 || table.value.width == null && focused1}">
                                    <input type="number" class="my-form-control" name="width" ngModel
                                        pattern="[1-9]?[0-9]" required (focus)="focused1 = true"
                                        (blur)="focused1 = false" min="1">
                                </label>
                            </div>
                            <div class="my-input-group">
                                <span>Height</span>
                                <label
                                    [ngClass]="{'tag':table.value.height > 99 || table.value.height == null && focused2}">
                                    <input type="number" class="my-form-control" name="height" ngModel
                                        pattern="[1-9]?[0-9]" required (focus)="focused2 = true"
                                        (blur)="focused2 = false" min="1">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="beauty-block">
                        <div class="beauty-block-label">Thickness, color, type of table line</div>
                        <div class="beauty-box">
                            <div class="my-input-group">
                                <span>Line thickness</span>
                                <label
                                    [ngClass]="{'tag':table.value.borderWidth > 99 || table.value.borderWidth == null && focused3}">
                                    <input type="number" class="my-form-control" name="borderWidth" ngModel
                                        pattern="[1-9]?[0-9]" required (focus)="focused3 = true"
                                        (blur)="focused3 = false" min="1">
                                </label>
                            </div>
                            <span>Line type</span>
                            <select class="my-form-control" name="borderType" ngModel="solid" required>
                                <option>solid</option>
                                <option>dotted</option>
                                <option>double</option>
                            </select>
                            <span>Color</span>
                            <input type="color" (input)="tableData.borderColor = brdColor" name="borderColor"
                                ngModel="black" id="bgColor" required>

                        </div>
                    </div>
                    <div class="beauty-block">
                        <div class="beauty-block-label">Number of rows and columns</div>
                        <div class="beauty-box">
                            <div class="my-input-group">
                                <span>Number of lines</span>
                                <label [ngClass]="{'tag':table.value.row > 99 || table.value.row == null && focused4}">
                                    <input type="number" class="my-form-control" name="row" ngModel
                                        pattern="[1-9]?[0-9]" required (focus)="focused4 = true"
                                        (blur)="focused4 = false" min="1">
                                </label>
                            </div>
                            <div class="my-input-group">
                                <span>Number of columns</span>
                                <label
                                    [ngClass]="{'tag':table.value.cell > 99 || table.value.cell == null && focused5}">
                                    <input type="number" class="my-form-control" name="cell" ngModel
                                        pattern="[1-9]?[0-9]" required (focus)="focused5 = true"
                                        (blur)="focused5 = false" min="1">
                                </label>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="table.valid">
                        <div class="fours-block__box3">
                            <button type="submit" class="my-btn"
                                (click)="previewCheck = false; checkEdit = true; createTable(table);changeEditTL()">Add</button>
                        </div>
                    </ng-container>
                </div>
                <div class="fours-block__box4">
                    <div class="fours-block__box4__1">
                        <button class="my-btn"
                            (click)="previewCheck = true; previewWindow = true; createTable(table)">Preview</button>
                    </div>
                    <div class="fours-block__box4__2">
                        <ng-container *ngIf="!previewWindow">
                            <div class="pre-container-gone" (click)="changePreviewWindow()">
                                <div class="fours-block__box4__2__img"></div>
                                <a class="fours-block__box4__2__a">Show an example</a>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="previewWindow">
                            <div class="pre-container">
                                <div class="close-box">
                                    <button (click)="changePreviewWindow()">✖</button>
                                </div>
                                <div class="pre-container__content">
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="fours-block__box4__3"></div>
                </div>
            </form>
        </ng-container>
        <ng-container *ngIf="addCheck.list">
            <form #listForm="ngForm">
                <div class="fours-block__box2">
                    <div class="beauty-block">
                        <div class="beauty-block-label">List type</div>
                        <div class="beauty-box block1">
                            <label for="ol">
                                <input type="radio" id="ol" name="list"
                                    (click)="typeOfMarkUl = false; typeOfMarkOl = true" (click)=" checkListValue('ol')">
                                Numbered</label>
                            <label for="ul">
                                <input type="radio" id="ul" name="list"
                                    (click)="typeOfMarkOl = false; typeOfMarkUl = true" (click)="checkListValue('ul')">
                                Marked</label>
                        </div>
                    </div>
                    <ng-container *ngIf=" typeOfMarkOl || typeOfMarkUl">
                        <div class="beauty-block">
                            <div class="beauty-block-label">List options</div>
                            <div class="beauty-box block1">
                                <div class="my-input-group">
                                    <span>Number of elements</span>
                                    <label
                                        [ngClass]="{'tag':listForm.value.lisItems > 99 || listForm.value.lisItems == null && focused6}">
                                        <input type="number" name="lisItems" ngModel pattern="[1-9]?[0-9]" required
                                            class="my-form-control" (focus)="focused6 = true" (blur)="focused6 = false"
                                            min="1">
                                    </label>
                                </div>
                                <ng-container *ngIf="typeOfMarkOl">
                                    <span>Type of marking</span>
                                    <select class="my-form-control" name="typeMark" #ol ngModel="roman" required>
                                        <option>roman</option>
                                        <option>greek</option>
                                        <option>armenian</option>
                                    </select>
                                </ng-container>
                                <ng-container *ngIf="typeOfMarkUl">
                                    <span>Type of marking</span>
                                    <select class="my-form-control" name="typeMark" #ul ngModel="circle" required>
                                        <option>circle</option>
                                        <option>square</option>
                                        <option>disc</option>
                                    </select>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="listForm.valid && (typeOfMarkUl || typeOfMarkOl)">
                        <div class="fours-block__box3">
                            <button type="submit" class="my-btn"
                                (click)="previewCheck = false; checkEdit = true; createList(listForm,typeOfMarkOl?'ol':'ul');changeEditTL();checkTl(true)">Add</button>
                        </div>
                    </ng-container>
                </div>
                <div class="fours-block__box4">
                    <div class="fours-block__box4__1">
                        <button class="my-btn"
                            (click)="previewCheck = true; previewWindow = true; createList(listForm, typeOfMarkOl?'ol':'ul')">Preview</button>
                    </div>
                    <div class="fours-block__box4__2">
                        <ng-container *ngIf="!previewWindow">
                            <div class="pre-container-gone" (click)="changePreviewWindow()">
                                <div class="fours-block__box4__2__img"></div>
                                <a class="fours-block__box4__2__a">Show an example</a>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="previewWindow">
                            <div class="pre-container">
                                <div class="close-box">
                                    <button (click)="changePreviewWindow()">✖</button>
                                </div>
                                <div class="pre-container__content">
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="fours-block__box4__3"></div>
                </div>
            </form>
        </ng-container>
    </ng-container>
</div>