@font-face {
  font-family: Sorts_Mill;
  src: url(../../../assets/fonts/Sorts_Mill_Goudy/SortsMillGoudy-Regular.ttf);
}
@font-face {
  font-family: SortsMillGoudy-Italic;
  src: url(../../../assets/fonts/Sorts_Mill_Goudy/SortsMillGoudy-Italic.ttf);
}
@font-face {
  font-family: Stylish;
  src: url(../../../assets/fonts/Stylish/Stylish-Regular.ttf);
}
